@using EntrantsDomain.UniversityStructure
@model University


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tree</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/grid.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/checkbox.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/Tree.js"></script>
    <script>
        $(document).ready(function () {
            var count = 0
            $("p").html(count)
            tree("root", "/Tree/GetChildren")
            $('#root').change(function (eventObj) {
                var target = $(eventObj.target)
                //$.ajax({
                //    url: "/Tree/GetChildrenCount",
                //    data: {
                //        id: target.parent().prop("id"),
                //        typeName: target.parent().parent().prop("id"),
                //        plus: target.prop("checked")
                //    },
                //    dataType: "json",
                //    success: function (data, status, xhr) {
                //        count = data
                //        $("p").html(count)
                //    },
                //    cache: false
                //})
                sendRequest(target, target, target.prop("checked"))
                var childInputs = target.parent().find("input")
                childInputs.prop("checked", target.prop("checked"))
                checkParents(target)      
            })

            function sendRequest(target, clicked, check) {
                if (check || isFullyChecked(target)) {
                    if (!check && target.prop("checked") == check && target != clicked) return;
                    $.ajax({
                        url: "/Tree/GetChildrenCount",
                        data: {
                            id: target.parent().prop("id"),
                            typeName: target.parent().parent().prop("id"),
                            plus: check
                        },
                        dataType: "json",
                        success: function (data, status, xhr) {
                            count += data
                            $("p").html(count)
                        },
                        cache: false
                    })
                } else {
                    target.parent().children("ul").children("li").children("input").each(function () {
                        sendRequest($(this), clicked, check)
                    })
                }
            }

            function isFullyChecked(target)
            {
                return target.parent().children().find("input").length == target.parent().children().find("input:checked").length
            }
        })
    </script>
</head>
<body>
    <h1>Tree</h1>
    <ul class="Container" id="root">
        <li id="0" class="Node IsRoot IsLast ExpandClosed">
            <div class="Expand"></div>
            <input type="checkbox"/>
            <div class="Content">BSUIR (@Model.Faculties.Count())</div>
            <ul class="Container"></ul>
        </li>
    </ul>
    <p></p>
</body>
</html>
