@using EntrantsDomain
@model IEnumerable<Region>


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drop-downs</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#regions").change(function () {
                var selectedId = $(this).find(":selected").prop('id');
                $.ajax("/RLS/GetLocalities",
                    {
                        data: { RegionId: selectedId },
                        success: function (data, status, xhr) {
                            $("#localities").children().remove();
                            $("#localities").append("<option id=\"0\">Choose a locality</option>");
                            $("#localities").trigger("change");
                            for (key in data) {
                                var locality = data[key];
                                $("#localities").append("<option id=" + locality.LocalityId + ">" + locality.LocalityName + "</option>")
                            }
                        }
                    })
            })
            $("#localities").change(function () {
                var selectedId = $(this).find(":selected").prop('id');
                $.ajax("/RLS/GetSchools",
                    {
                        data: { LocalityId: selectedId },
                        success: function (data, status, xhr) {
                            $("#schools").children().remove();
                            $("#schools").append("<option id=\"0\">Choose a school</option>");
                            for (key in data) {
                                var school = data[key];
                                $("#schools").append("<option id=" + school.SchoolId + ">" + school.SchoolName + "</option>")
                            }
                        }
                    })
            })
        })
    </script>
</head>
<body>
    <h1>Drop-down family</h1>
    <div class="row panel">
        <table>
            <tr>
                <td>
                    <select id="regions" style="width: 200px; margin: 10px; margin-left: 20px">
                        <option id="0">Choose a region</option>
                        @foreach (var r in Model)
                        {
                            <option id="@r.RegionId">@r.RegionalCenter</option>
                        }
                    </select>
                </td>
            </tr>
            <tr><td><select id="localities" style="width: 200px; margin: 10px; margin-left: 20px"><option id="0">Choose a locality</option></select></td></tr>
            <tr><td><select id="schools" style="width: 200px; margin: 10px; margin-left: 20px"><option id="0">Choose a school</option></select></td></tr>
        </table>
    </div>
    <script>

    </script>
</body>
</html>
